@import './styles/design-system.css';
@import './styles/utilities.css';

body {
  margin: 0;
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

code {
  font-family: var(--font-family-mono);
}
